# Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')

# Data instpection

In [3]:
print("Initial shape:", df.shape)

Initial shape: (48204, 9)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              61 non-null     object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  object
 6   weather_description  48204 non-null  object
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB
None

In [19]:
df.describe()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume
count,48204.000000,48204.000000,48204.000000,48204.000000,48204.000000,48204.000000,48204.000000,48204.000000
mean,6.997780,281.205870,0.334264,0.000222,49.362231,2.578375,16.540536,3259.818355
std,0.139999,13.338232,44.789133,0.008168,39.015750,2.784224,8.970108,1986.860670
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,272.160000,0.000000,0.000000,1.000000,0.000000,10.000000,1193.000000
50%,7.000000,282.450000,0.000000,0.000000,64.000000,1.000000,17.000000,3380.000000
75%,7.000000,291.806000,0.000000,0.000000,90.000000,5.000000,27.000000,4933.000000
max,11.000000,310.070000,9831.300000,0.510000,100.000000,10.000000,37.000000,7280.000000

In [7]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [5]:
print(df.isnull().sum())

holiday                48143
temp                       0
rain_1h                    0
snow_1h                    0
clouds_all                 0
weather_main               0
weather_description        0
date_time                  0
traffic_volume             0
dtype: int64

#### filling nan values from holiday column with none

In [8]:
df['holiday'] = df['holiday'].fillna('None')

#### printing unique values for categorical column which will later be used for encoding

In [9]:
print(df['holiday'].unique())

['None' 'Columbus Day' 'Veterans Day' 'Thanksgiving Day' 'Christmas Day'
 'New Years Day' 'Washingtons Birthday' 'Memorial Day' 'Independence Day'
 'State Fair' 'Labor Day' 'Martin Luther King Jr Day']

In [11]:
print(df['weather_main'].unique())

['Clouds' 'Clear' 'Rain' 'Drizzle' 'Mist' 'Haze' 'Fog' 'Thunderstorm'
 'Snow' 'Squall' 'Smoke']

In [12]:
print(df['weather_description'].unique())

['scattered clouds' 'broken clouds' 'overcast clouds' 'sky is clear'
 'few clouds' 'light rain' 'light intensity drizzle' 'mist' 'haze' 'fog'
 'proximity shower rain' 'drizzle' 'moderate rain' 'heavy intensity rain'
 'proximity thunderstorm' 'thunderstorm with light rain'
 'proximity thunderstorm with rain' 'heavy snow' 'heavy intensity drizzle'
 'snow' 'thunderstorm with heavy rain' 'freezing rain' 'shower snow'
 'light rain and snow' 'light intensity shower rain' 'SQUALLS'
 'thunderstorm with rain' 'proximity thunderstorm with drizzle'
 'thunderstorm' 'Sky is Clear' 'very heavy rain'
 'thunderstorm with light drizzle' 'light snow'
 'thunderstorm with drizzle' 'smoke' 'shower drizzle' 'light shower snow'
 'sleet']

# Label Encoding
    Converts each unique category into a single integer

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()
df['holiday'] = le.fit_transform(df['holiday'])

# printing the mapping 
holiday_mapping = {index: label for index, label in enumerate(le.classes_)}
print(holiday_mapping)

{0: 'Christmas Day', 1: 'Columbus Day', 2: 'Independence Day', 3: 'Labor Day', 4: 'Martin Luther King Jr Day', 5: 'Memorial Day', 6: 'New Years Day', 7: 'None', 8: 'State Fair', 9: 'Thanksgiving Day', 10: 'Veterans Day', 11: 'Washingtons Birthday'}

In [15]:
df['weather_main'] = le.fit_transform(df['weather_main'])

# To view the mapping:
weather_main_mapping = {index: label for index, label in enumerate(le.classes_)}
print(weather_main_mapping)

{0: 'Clear', 1: 'Clouds', 2: 'Drizzle', 3: 'Fog', 4: 'Haze', 5: 'Mist', 6: 'Rain', 7: 'Smoke', 8: 'Snow', 9: 'Squall', 10: 'Thunderstorm'}

In [16]:
df['weather_description'] = le.fit_transform(df['weather_description'])

# To view the mapping:
weather_description_mapping = {index: label for index, label in enumerate(le.classes_)}
print(weather_description_mapping)

{0: 'SQUALLS', 1: 'Sky is Clear', 2: 'broken clouds', 3: 'drizzle', 4: 'few clouds', 5: 'fog', 6: 'freezing rain', 7: 'haze', 8: 'heavy intensity drizzle', 9: 'heavy intensity rain', 10: 'heavy snow', 11: 'light intensity drizzle', 12: 'light intensity shower rain', 13: 'light rain', 14: 'light rain and snow', 15: 'light shower snow', 16: 'light snow', 17: 'mist', 18: 'moderate rain', 19: 'overcast clouds', 20: 'proximity shower rain', 21: 'proximity thunderstorm', 22: 'proximity thunderstorm with drizzle', 23: 'proximity thunderstorm with rain', 24: 'scattered clouds', 25: 'shower drizzle', 26: 'shower snow', 27: 'sky is clear', 28: 'sleet', 29: 'smoke', 30: 'snow', 31: 'thunderstorm', 32: 'thunderstorm with drizzle', 33: 'thunderstorm with heavy rain', 34: 'thunderstorm with light drizzle', 35: 'thunderstorm with light rain', 36: 'thunderstorm with rain', 37: 'very heavy rain'}

#### applying encoding to main dataset

In [17]:
df['holiday'] = le.fit_transform(df['holiday'])
df['weather_main'] = le.fit_transform(df['weather_main'])
df['weather_description'] = le.fit_transform(df['weather_description'])

In [18]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,7,288.28,0.0,0.0,40,1,24,2012-10-02 09:00:00,5545
1,7,289.36,0.0,0.0,75,1,2,2012-10-02 10:00:00,4516
2,7,289.58,0.0,0.0,90,1,19,2012-10-02 11:00:00,4767
3,7,290.13,0.0,0.0,90,1,19,2012-10-02 12:00:00,5026
4,7,291.14,0.0,0.0,75,1,2,2012-10-02 13:00:00,4918

In [21]:
df.to_csv('Metro-Interstate-Traffic-Volume-Encoded.csv',header=True,index=False)